{
  "extends": "airbnb-base",
  "globals": {
    "window": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ]
  }
}
